* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F0FAF9;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 350;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.header,
.content,
.footer {
    width: 1000px;
    margin: auto;
}

ul {
    list-style-type: none;
}

.header-container {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header .right-link {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content1-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

}

#content1 {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

#content1 .image-placeholder {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1.1;
}

#content1 .image-placeholder .hero-secondary-text {
    color: #1F2937;
    text-align: center;
}

#content1 .hero-main-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

#content1 button {
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    padding: 6px 24px;
    color: #F9FAF8;
    align-self: start;
}

.content2-container {
    padding: 32px;
}

#content2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#content2 .information-header-text {
    text-align: center;
}

#content2 .card-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#content2 .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

#content2 .card-row .image-placeholder {
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    padding: 15px;
    border-color: #3882F6;
    width: auto;
    height: 175px;
}

.content3-container {
    background-color: #E5E7EB;
}

#content3 {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
}

#content3 .quote-author {
    text-align: end;
    padding: 16px;
    font-size: 24px;
    font-weight: 500;
}

.content4-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#content4 {
    margin: 64px;
    display: flex;
    justify-content: center;
}

#content4 .card {
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 10px;
    padding: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

#content4 .left {
    color: #F9FAF8;
    font-weight: 300;
}

#content4 .right button {
    background-color: #3882F6;
    border-style: solid;
    border-radius: 4px;
    padding: 6px 24px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    align-self: start;
    margin-left: 128px;
    text-align: center;
    justify-content: center;
}

#content4 .card .title {
    font-weight: bolder;
    font-size: 24px;
}

.footer-container {
    background-color:#1F2937;
    padding: 30px;
}
.footer {
    text-align: center;
    justify-content: center;
    color:#E5E7EB;
    font-weight: 200;
}